<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FormEntrada.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="SigmaWebEntity" connectionString="data source=VCPSQLLSTNREST\estatistica;initial catalog=sigmaweb;persist security info=True;user id=estatistica;password=estatistica;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="RankingEntity" connectionString="data source=VCPSQLLSTNREST\estatistica;initial catalog=ranking;persist security info=True;user id=estatistica;password=estatistica;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="RankingConnection" connectionString="Data Source=VCPSQLLSTNREST\estatistica;user id=estatistica;password=estatistica;Initial Catalog=ranking;persist security info=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SigmawebConnection" connectionString="Data Source=VCPSQLLSTNREST\estatistica;user id=estatistica;password=estatistica;Initial Catalog=sigmaweb;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EVSysConPRKP06" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.9.55)(PORT=1521)(load_balance=yes)(failover=on)))(CONNECT_DATA=(SERVICE_NAME=prkp06)));user id=admin_estatistica;password=vcp2015;" providerName="Oracle.DataAccess.Client;" />
    <add name="EVSysConPRKP04" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.9.55)(PORT=1521)(load_balance=yes)(failover=on)))(CONNECT_DATA=(SERVICE_NAME=prkp04)));user id=ctms;password=ctms;" providerName="Oracle.DataAccess.Client;" />
    <!--providerName="Oracle.DataAccess.Client"-->
    <add name="EntityExp" connectionString="data source=VCPSQLLSTNREST\estatistica;initial catalog=sigmaweb_exp;user id=estatistica;password=estatistica;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConnGerencia" connectionString="data source=VCPSQLLSTNREST\estatistica;initial catalog=gerencia;persist security info=True;user id=estatistica;password=estatistica;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection2" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
                type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource"
                    descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
    
    <applicationSettings>
        <FormEntrada.Properties.Settings>
            <setting name="CS" serializeAs="String">
                <value>Data Source=oracle.viracopos.local:1521/prkp06 ;User Id=admin_estatistica;Password=vcp2015</value>
            </setting>
            <setting name="CSLG" serializeAs="String">
                <value>Data Source=vcpsqllstnrest\estatistica;Initial Catalog=Banco_users_system;User ID=estatistica;Password=estatistica</value>
            </setting>
        </FormEntrada.Properties.Settings>
    </applicationSettings>
</configuration>